<h2>Busquedas:</h2>
<hr> <!-- Es una linea -->
<ul class="list-group"> <!--   //Lista Ordenada class list-group las ordena en cuadros -->
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item">Buscar Pais</li> <!-- active la poner de color azul -->
    <li routerLink="region" routerLinkActive="active" class="list-group-item">Por region</li>
    <li routerLink="capital" routerLinkActive="active" class="list-group-item">Por capital</li>
</ul>